* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
}
/* header */

.header {
  background: url(../images/banner/banner.png) center center no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}
/* header contact */

.header-top .header-contact ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.header-top .header-contact a {
  color: #fff;
  font-size: 1rem;
}

.header-top .header-contact {
  margin-top: 40px;
}

/* header-controls */

.header-top .header-controls {
  margin-top: 40px;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.header-controls form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  border: 1px solid #ccc;
}

.header-controls .search {
  margin-right: 30px;
}

.header-controls .search {
  color: #000;
  margin-right: 30px;
  display: block;
  position: absolute;
  left: 3%;
  background: #fff;
  border: none;
}

.header-controls form {
  position: relative;
}

.header-top .header-controls a:first-child {
  position: absolute;
  top: 6px;
  left: 4px;
}

.header-top .header-controls input {
  padding: 6px 2px;
  border: none;
}

.header-top .header-controls input::placeholder {
  position: relative;
  left: 20px;
}

/* header-bottom */

.header-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #2b2b2b;
}

/* nav */

.nav-main {
  height: 50px;
}

.nav-main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-main a {
  color: #e8e8e8;
  font-size: 1rem;
  line-height: 22px;
  text-transform: uppercase;
}

/* main */

.home-catalog-preview {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.home-catalog-preview:before {
  content: '';
  border-top: 1px solid #ccc;
  width: 100%;
  display: block;
  margin: 10px 0px;
  color: #2b2b2b;
}

.text-capitalize {
  text-transform: capitalize;
}

.product-tile-image {
  position: relative;
}

.product-tile-image img {
  width: 100%;
}

.product-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.product-tile-title a {
  font-size: 22px;
  margin-bottom: 20px;
}

.product-tile-price {
  font-size: 22px;
  font-weight: 300;
}

.product-tiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 24px 0px 40px 0px;
  gap: 20px;
}

.product-tile {
  width: 24.171686%;
}

/* about */
.home-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 120px 0px;
  gap: 50px;
}

.main-about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  gap: 20px;
}

.main-about-content h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 33px;
  color: #2b2b2b;
}

.main-about-content p {
  font-size: 22px;
  font-weight: 300;
  line-height: 43px;
  width: 85%;
  margin: 0 auto;
  color: #2b2b2b;
}

.catalog-preview-ctas {
  margin: 80px 0px;
}

.catalog-preview-ctas .view-cta {
  border: 1px solid #2b2b2b;
  font-size: 22px;
  font-weight: 300;
  padding: 12px 17px;
  text-transform: lowercase;
}

/* footer */

.footer {
  background-color: #e8e8e8;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  line-height: 30px;
  font-size: 1.125rem;
}

.footer-contact li:last-child a {
  text-decoration: underline;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

/* footer content */
.footer-connect form input {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.footer-connect form button {
  display: block;
  text-transform: uppercase;
  border: 1px solid #2b2b2b;
  background-color: #e8e8e8;
  color: #2b2b2b;
  padding: 6px 14px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 23px;
}
