* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  height: 400px;
  background: url(../images/banner/banner.png) center center no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  height: 41px;
}

.header-contact ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-contact a {
  color: #fff;
}

.header-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.nav-main {
  background: #2b2b2b;
  height: 50px;
}

.nav-main ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.nav-main a {
  color: #fff;
}
.search {
  margin-right: 30px;
}
.header-controls a {
  color: #000;
  margin-right: 30px;
}
